@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
   margin: 0%;
   padding: 0%;
   list-style: none;
   font-family: 'Roboto', sans-serif;
   text-decoration: none;
}

body{
   background-image: url(../img/background.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 100vw;
   height: 100vh;
}

/* nav */

header{
   display: flex;
   align-items: center;
   justify-content: space-between ;
   padding: 20px;
}



.logo{
   display: block;
   justify-content: left;
   color: #ffffff;
   font-size: 30px;
}

.nav-item{
   font-size: 1rem;
   font-weight: 500;
   margin: 5px;
   color: #ffffff;
}

/* form */

section{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

form{
  padding: 30px;
}

.form-item{
   margin: 10px;
   color: #ffffff;
}

input{
   width: 225px;
   height: 27px;
}

.title-form{
   color: #ffffff;
   text-align: center;
   font-weight: 900;
  margin-top: 50px;
}

/* button */

.btn-submit{
   cursor: pointer;
   display: flex;
   border: none;
   text-align: center;
   width: 30%;
   height: 23px;
   font-size: 18px;
   margin-left: 170px;
   justify-content: center;
   align-items: center;
   color: aliceblue;
   background-color: rgb(41, 69, 151);
   font-weight: 500;
}